* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* debug */
.debug {
    /* width: 1160px;
    background-color: aqua; */
}

.debug .menu {
    position: fixed;
    top: 30px;
    right: 20px;

}

.debug .menu ul li {
    display: inline-block;
}

.debug .container {
    width: 100;
    
}

.debug .container .sector {
    height: 100vh;
    width: 100%;
}



/* debug */

#top {
    background-color: red;
}

#mid {
    background-color:green;
}

#bot {
    background-color: yellow;
}